<div class="bg-primary" style="height:60px;width: 1300px"></div>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <ul class = "navbar-nav" style="margin-left: 350px">
    <li class = "nav-item">
      <a routerLink="login" routerLinkActive="active" class="nav-link" >Login</a>
    </li>
    <li class = "nav-item">
      <a routerLink="home" routerLinkActive="active" class="nav-link" >Home</a>
    </li>
    <li class = "nav-item">
      <a routerLink="product" routerLinkActive="active" class="nav-link" >Products</a>
    </li>
    <li class = "nav-item">
      <a routerLink="farmer" routerLinkActive="active" class="nav-link" >Farmers</a>
    </li>
    <li class = "nav-item">
      <a routerLink="order" routerLinkActive="active" class="nav-link">Cart</a>
    </li>
  </ul>
</nav>
<div class = "container">
  <router-outlet></router-outlet>
</div>
<footer class = "footer">
  <div class = "container">
    <span></span>
  </div>
</footer>

