<div class="input-group mt20">
    <input type="search" id="form1" class="form-control" ngModel="searchedProduct" #filter/>
  <button type="button" class="btn btn-primary" (click) = "productSearch(filter.value)">search</button>
</div>
<div class="ml460 mt20">
  <h5>Product Categories</h5>
</div>

<div class="row mt20">
  <div class="col-sm-3 card w-40 ml100">
    <div class="card-body">
      <p class="card-text">Fruits</p>
    </div>
  </div>
  <div class="col-sm-3 card w-40 ml40">
    <div class="card-body">
      <p class="card-text">Vegetables</p>
    </div>
  </div>
  <div class="col-sm-3 card w-40 ml40">
    <div class="card-body">
      <p class="card-text">Dairy</p>
    </div>
  </div>
</div>

<div class="row mt20">
  <div class="col-sm-3 card w-40 ml100">
    <div class="card-body" id="rice">
      <p class="card-text">Rice</p>
    </div>
  </div>
  <div class="col-sm-3 card w-40 ml40">
    <div class="card-body">
      <p class="card-text">Spices</p>
    </div>
  </div>
  <div class="col-sm-3 card w-40 ml40">
    <div class="card-body">
      <p class="card-text">Lentils</p>
    </div>
  </div>
</div>


<div style="margin-left:520px;margin-top:90px">
  <h5>Farmers</h5>
</div>

<div class="row mt40">
  <div class="col-sm-3">
    <div class="card ml100" style="width: 17rem;" (click)="goToFarmer()">
      <img class="card-img-top" src="assets/Pictures/farmer1.jpg" alt="Card image cap">
      <h1 class="centered">Rahim Mia</h1>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card ml150" style="width: 17rem;" (click)="goToFarmer()">
      <img class="card-img-top" src="assets/Pictures/farmer2.jpg" alt="Card image cap">
      <h1 class="centered">Abdul Motahar</h1>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card ml200" style="width: 17rem;" (click)="goToFarmer()">
      <img class="card-img-top" src="assets/Pictures/farmer3.jpg" alt="Card image cap">
      <h1 class="centered">Rahela Begum</h1>
    </div>
  </div>
</div>


<div class="row mt20">
  <div class="col-sm-3">
    <div class="card ml100" style="width: 17rem;" (click)="goToFarmer()">
      <img class="card-img-top" src="assets/Pictures/farmer4.jpg" alt="Card image cap">
      <h1 class="centered">Md. Bashiruddin</h1>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card ml150" style="width: 17rem;" (click)="goToFarmer()">
      <img class="card-img-top" src="assets/Pictures/farmer5.jpg" alt="Card image cap">
      <h1 class="centered">Dana Bibi</h1>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card ml200" style="width: 17rem;" (click)="goToFarmer()">
      <img class="card-img-top" src="assets/Pictures/farmer6.jpg" alt="Card image cap">
      <h1 class="centered">Hamida Rayhan</h1>
    </div>
  </div>
</div>

<div class="mt40">
<p>To Know about us do this and that...............</p>
</div>

<div class="mt40">
  <p>To Know about us do this and that...............</p>
</div>
